In [ ]:
i=0
for i in range(4):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World

In [ ]:
a= (99**3)*8
print(a)

7762392

In [ ]:
n1="Victor"
n2=input("Entrez votre prénom:")
if n1 == n2:
  print("Nous avons le même prénom ! ")
else:
  print("Nous avons des prénoms différents !")

Entrez votre prénom:Victor
Nous avons le même prénom !

In [ ]:
t=int(input("Entrez votre taille en cm:"))
if t > 145:
  print("You have the height to ride a roller coaster !")
else:
  print("You need to grow up to ride !")

Entrez votre taille en cm:184
You have the height to ride a roller coaster !

In [ ]:
fav = {3,6,9,25,30}
print(fav)
fav.add(20)
fav.add(34)
print(fav)
fav.remove(34)
print(fav)
my_friendfav={4,7,2,77}
set3=fav.union(my_friendfav)
print(set3)

{3, 6, 30, 9, 25}
{34, 3, 20, 6, 30, 9, 25}
{3, 20, 6, 30, 9, 25}
{2, 3, 4, 6, 7, 9, 77, 20, 25, 30}

6) Oui c'est possible mais en passant par un autre tuple et en faisant la somme des deux

In [ ]:
basket = ["Banana", "Apples", "Oranges", "Blueberries"]
basket.remove("Banana")
basket.remove("Blueberries")
basket.append("Kiwi")
basket.insert(0,"Apples")
print(basket.count("Apples"))
basket.clear()
print(basket)

2
[]

In [ ]:
sandwich_orders = ["Tuna sandwich", "Pastrami sandwich", "Avocado sandwich", "Pastrami sandwich", "Egg sandwich", "Chicken sandwich", "Pastrami sandwich"]
while "Pastrami sandwich" in sandwich_orders:
  sandwich_orders.remove("Pastrami sandwich")
print(sandwich_orders)

finished_sandwich = []
i=0
t = len(sandwich_orders)
while i < t:
  finished_sandwich.append(sandwich_orders[0])
  sandwich_orders.remove(sandwich_orders[0])
  i+=1

print(sandwich_orders)
print(finished_sandwich)

for sandwich in finished_sandwich:
  print(f"I made your {sandwich}")

['Tuna sandwich', 'Avocado sandwich', 'Egg sandwich', 'Chicken sandwich']
[]
['Tuna sandwich', 'Avocado sandwich', 'Egg sandwich', 'Chicken sandwich']
I made your Tuna sandwich
I made your Avocado sandwich
I made your Egg sandwich
I made your Chicken sandwich